
# Created by https://www.toptal.com/developers/gitignore/api/c
# Edit at https://www.toptal.com/developers/gitignore?templates=c

### C ###
# Prerequisites
*.d

### tempfile ###
tempCodeRunnerFile.*

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# End of https://www.toptal.com/developers/gitignore/api/c
wk14/제출파일/14장실습_19013135_정우현.zip
wk14/제출파일/14장1번실습문제/14장1번실습문제.sln
wk14/제출파일/14장1번실습문제/.vs/14장1번실습문제/v16/Browse.VC.db
wk14/제출파일/14장1번실습문제/.vs/14장1번실습문제/v16/ipch/AutoPCH/70f4055f56e31d8b/14P01.ipch
wk14/제출파일/14장1번실습문제/14장1번실습문제/14p01.c
wk14/제출파일/14장1번실습문제/14장1번실습문제/14장1번실습문제.vcxproj
wk14/제출파일/14장1번실습문제/14장1번실습문제/14장1번실습문제.vcxproj.filters
wk14/제출파일/14장1번실습문제/14장1번실습문제/data.txt
wk14/제출파일/14장1번실습문제/14장1번실습문제/Debug/14장1번실습문제.exe.recipe
wk14/제출파일/14장1번실습문제/14장1번실습문제/Debug/14장1번실습문제.tlog/14장1번실습문제.lastbuildstate
wk14/제출파일/14장1번실습문제/14장1번실습문제/Debug/14장1번실습문제.tlog/CL.command.1.tlog
wk14/제출파일/14장1번실습문제/14장1번실습문제/Debug/14장1번실습문제.tlog/CL.read.1.tlog
wk14/제출파일/14장1번실습문제/14장1번실습문제/Debug/14장1번실습문제.tlog/CL.write.1.tlog
wk14/제출파일/14장1번실습문제/14장1번실습문제/Debug/14장1번실습문제.tlog/link.command.1.tlog
wk14/제출파일/14장1번실습문제/14장1번실습문제/Debug/14장1번실습문제.tlog/link.read.1.tlog
wk14/제출파일/14장1번실습문제/14장1번실습문제/Debug/14장1번실습문제.tlog/link.write.1.tlog
wk14/제출파일/14장2번실습문제/14장2번실습문제.sln
wk14/제출파일/14장2번실습문제/.vs/14장2번실습문제/v16/Browse.VC.db
wk14/제출파일/14장2번실습문제/.vs/14장2번실습문제/v16/ipch/AutoPCH/1f8b3cfa37126713/14P02.ipch
wk14/제출파일/14장2번실습문제/14장2번실습문제/14p02.c
wk14/제출파일/14장2번실습문제/14장2번실습문제/14장2번실습문제.vcxproj
wk14/제출파일/14장2번실습문제/14장2번실습문제/14장2번실습문제.vcxproj.filters
wk14/제출파일/14장2번실습문제/14장2번실습문제/test1.txt
wk14/제출파일/14장2번실습문제/14장2번실습문제/test2.txt
wk14/제출파일/14장2번실습문제/14장2번실습문제/Debug/14장2번실습문제.exe.recipe
wk14/제출파일/14장2번실습문제/14장2번실습문제/Debug/14장2번실습문제.tlog/14장2번실습문제.lastbuildstate
wk14/제출파일/14장2번실습문제/14장2번실습문제/Debug/14장2번실습문제.tlog/CL.command.1.tlog
wk14/제출파일/14장2번실습문제/14장2번실습문제/Debug/14장2번실습문제.tlog/CL.read.1.tlog
wk14/제출파일/14장2번실습문제/14장2번실습문제/Debug/14장2번실습문제.tlog/CL.write.1.tlog
wk14/제출파일/14장2번실습문제/14장2번실습문제/Debug/14장2번실습문제.tlog/link.command.1.tlog
wk14/제출파일/14장2번실습문제/14장2번실습문제/Debug/14장2번실습문제.tlog/link.read.1.tlog
wk14/제출파일/14장2번실습문제/14장2번실습문제/Debug/14장2번실습문제.tlog/link.write.1.tlog
wk14/제출파일/14장3번실습문제/14장3번실습문제.sln
wk14/제출파일/14장3번실습문제/.vs/14장3번실습문제/v16/Browse.VC.db
wk14/제출파일/14장3번실습문제/.vs/14장3번실습문제/v16/ipch/AutoPCH/4de2bdcd632dc98f/14P03.ipch
wk14/제출파일/14장3번실습문제/14장3번실습문제/14p03.c
wk14/제출파일/14장3번실습문제/14장3번실습문제/14장3번실습문제.vcxproj
wk14/제출파일/14장3번실습문제/14장3번실습문제/14장3번실습문제.vcxproj.filters
wk14/제출파일/14장3번실습문제/14장3번실습문제/test1.txt
wk14/제출파일/14장3번실습문제/14장3번실습문제/test2.txt
wk14/제출파일/14장3번실습문제/14장3번실습문제/Debug/14장3번실습문제.exe.recipe
wk14/제출파일/14장3번실습문제/14장3번실습문제/Debug/14장3번실습문제.tlog/14장3번실습문제.lastbuildstate
wk14/제출파일/14장3번실습문제/14장3번실습문제/Debug/14장3번실습문제.tlog/CL.command.1.tlog
wk14/제출파일/14장3번실습문제/14장3번실습문제/Debug/14장3번실습문제.tlog/CL.read.1.tlog
wk14/제출파일/14장3번실습문제/14장3번실습문제/Debug/14장3번실습문제.tlog/CL.write.1.tlog
wk14/제출파일/14장3번실습문제/14장3번실습문제/Debug/14장3번실습문제.tlog/link.command.1.tlog
wk14/제출파일/14장3번실습문제/14장3번실습문제/Debug/14장3번실습문제.tlog/link.read.1.tlog
wk14/제출파일/14장3번실습문제/14장3번실습문제/Debug/14장3번실습문제.tlog/link.write.1.tlog
wk14/제출파일/14장4번실습문제/14장4번실습문제.sln
wk14/제출파일/14장4번실습문제/.vs/14장4번실습문제/v16/Browse.VC.db
wk14/제출파일/14장4번실습문제/.vs/14장4번실습문제/v16/ipch/AutoPCH/6b552c9a0aa3e5df/14P04.ipch
wk14/제출파일/14장4번실습문제/14장4번실습문제/14p04.c
wk14/제출파일/14장4번실습문제/14장4번실습문제/14장4번실습문제.vcxproj
wk14/제출파일/14장4번실습문제/14장4번실습문제/14장4번실습문제.vcxproj.filters
wk14/제출파일/14장4번실습문제/14장4번실습문제/test1.txt
wk14/제출파일/14장4번실습문제/14장4번실습문제/test2.txt
wk14/제출파일/14장4번실습문제/14장4번실습문제/test3.txt
wk14/제출파일/14장4번실습문제/14장4번실습문제/Debug/14장4번실습문제.exe.recipe
wk14/제출파일/14장4번실습문제/14장4번실습문제/Debug/14장4번실습문제.tlog/14장4번실습문제.lastbuildstate
wk14/제출파일/14장4번실습문제/14장4번실습문제/Debug/14장4번실습문제.tlog/CL.command.1.tlog
wk14/제출파일/14장4번실습문제/14장4번실습문제/Debug/14장4번실습문제.tlog/CL.read.1.tlog
wk14/제출파일/14장4번실습문제/14장4번실습문제/Debug/14장4번실습문제.tlog/CL.write.1.tlog
wk14/제출파일/14장4번실습문제/14장4번실습문제/Debug/14장4번실습문제.tlog/link.command.1.tlog
wk14/제출파일/14장4번실습문제/14장4번실습문제/Debug/14장4번실습문제.tlog/link.read.1.tlog
wk14/제출파일/14장4번실습문제/14장4번실습문제/Debug/14장4번실습문제.tlog/link.write.1.tlog
wk14/제출파일/14장5-1실습문제/14장5-1실습문제.sln
wk14/제출파일/14장5-1실습문제/.vs/14장5-1실습문제/v16/Browse.VC.db
wk14/제출파일/14장5-1실습문제/.vs/14장5-1실습문제/v16/ipch/AutoPCH/9735172a75dfdeb7/14P051.ipch
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/14p051.c
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/14장5-1실습문제.vcxproj
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/14장5-1실습문제.vcxproj.filters
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/student.dat
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/Debug/14장5-1실습문제.exe.recipe
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/Debug/14장5-1실습문제.tlog/14장5-1실습문제.lastbuildstate
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/Debug/14장5-1실습문제.tlog/CL.command.1.tlog
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/Debug/14장5-1실습문제.tlog/CL.read.1.tlog
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/Debug/14장5-1실습문제.tlog/CL.write.1.tlog
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/Debug/14장5-1실습문제.tlog/link.command.1.tlog
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/Debug/14장5-1실습문제.tlog/link.read.1.tlog
wk14/제출파일/14장5-1실습문제/14장5-1실습문제/Debug/14장5-1실습문제.tlog/link.write.1.tlog
wk14/제출파일/14장5-2실습문제/14장5-2실습문제.sln
wk14/제출파일/14장5-2실습문제/.vs/14장5-2실습문제/v16/Browse.VC.db
wk14/제출파일/14장5-2실습문제/.vs/14장5-2실습문제/v16/ipch/AutoPCH/2dc579136cf8f267/14P052.ipch
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/14p052.c
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/14장5-2실습문제.vcxproj
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/14장5-2실습문제.vcxproj.filters
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/student.dat
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/Debug/14장5-2실습문제.exe.recipe
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/Debug/14장5-2실습문제.tlog/14장5-2실습문제.lastbuildstate
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/Debug/14장5-2실습문제.tlog/CL.command.1.tlog
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/Debug/14장5-2실습문제.tlog/CL.read.1.tlog
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/Debug/14장5-2실습문제.tlog/CL.write.1.tlog
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/Debug/14장5-2실습문제.tlog/link.command.1.tlog
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/Debug/14장5-2실습문제.tlog/link.read.1.tlog
wk14/제출파일/14장5-2실습문제/14장5-2실습문제/Debug/14장5-2실습문제.tlog/link.write.1.tlog
14장실습_19013135_정우현.zip
project/projectStep3/projectStep3.sln
project/projectStep3/.vs/projectStep3/v16/Browse.VC.db
project/projectStep3/.vs/projectStep3/v16/Browse.VC.db-shm
project/projectStep3/.vs/projectStep3/v16/Browse.VC.db-wal
project/projectStep3/.vs/projectStep3/v16/Browse.VC.opendb
project/projectStep3/.vs/projectStep3/v16/ipch/AutoPCH/1d5be9a1e5e16921/STEP3.ipch
project/projectStep3/.vs/projectStep3/v16/ipch/AutoPCH/f03874eca7f91fa5/STEP3.ipch
project/projectStep3/projectStep3/PHONE_BOOK.txt
project/projectStep3/projectStep3/projectStep3.vcxproj
project/projectStep3/projectStep3/projectStep3.vcxproj.filters
project/projectStep3/projectStep3/step3.c
project/projectStep3/projectStep3/Debug/projectStep3.exe.recipe
project/projectStep3/projectStep3/Debug/projectStep3.tlog/CL.command.1.tlog
project/projectStep3/projectStep3/Debug/projectStep3.tlog/CL.read.1.tlog
project/projectStep3/projectStep3/Debug/projectStep3.tlog/CL.write.1.tlog
project/projectStep3/projectStep3/Debug/projectStep3.tlog/link.command.1.tlog
project/projectStep3/projectStep3/Debug/projectStep3.tlog/link.read.1.tlog
project/projectStep3/projectStep3/Debug/projectStep3.tlog/link.write.1.tlog
project/projectStep3/projectStep3/Debug/projectStep3.tlog/projectStep3.lastbuildstate
project/projectStep4/.vs/projectStep4/v16/Browse.VC.db-shm
project/projectStep4/.vs/projectStep4/v16/Browse.VC.db-wal
project/projectStep4/.vs/projectStep4/v16/Browse.VC.opendb
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/2768131fffb85ab8/SEARCH.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/2a6f78b645697249/INSERT.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/35ab9fd9d06ad2f5/FILECONTROL.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/4a77606fd37e04b9/SHOWALL.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/72efbafb18ea537/DELETE.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/79de2282aead7cff/WRITEFILE.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/8f859aa2040ba2a7/STEP3.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/93b91a2f3e641301/MAIN.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/9884493a3489df70/SORT.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/a345f156560003d3/READFILE.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/b79b709429db9ab6/READFILE.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/c5738820efd49b01/SEARCH.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/d523d14fef24effa/SHOWALL.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/e09a123fc9698b8/WRITEFILE.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/ea35996d49157750/MAIN.ipch
project/projectStep4/.vs/projectStep4/v16/ipch/AutoPCH/f3834f3d870a90a9/PRINT.ipch
project/projectStep4/projectStep4/delete.c
project/projectStep4/projectStep4/insert.c
project/projectStep4/projectStep4/main.c
project/projectStep4/projectStep4/my_define.h
project/projectStep4/projectStep4/my_func.h
project/projectStep4/projectStep4/my_struct.h
project/projectStep4/projectStep4/PHONE_BOOK.txt
project/projectStep4/projectStep4/projectStep4.vcxproj
project/projectStep4/projectStep4/projectStep4.vcxproj.filters
project/projectStep4/projectStep4/readFile.c
project/projectStep4/projectStep4/showAll.c
project/projectStep4/projectStep4/sort.c
project/projectStep4/projectStep4/writeFile.c
project/projectStep4/projectStep4/Debug/projectStep4.exe.recipe
project/projectStep4/projectStep4/Debug/projectStep4.tlog/CL.command.1.tlog
project/projectStep4/projectStep4/Debug/projectStep4.tlog/CL.read.1.tlog
project/projectStep4/projectStep4/Debug/projectStep4.tlog/CL.write.1.tlog
project/projectStep4/projectStep4/Debug/projectStep4.tlog/link.command.1.tlog
project/projectStep4/projectStep4/Debug/projectStep4.tlog/link.read.1.tlog
project/projectStep4/projectStep4/Debug/projectStep4.tlog/link.write.1.tlog
project/projectStep4/projectStep4/Debug/projectStep4.tlog/projectStep4.lastbuildstate
*.zip
